@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  max-width: 1440px;
  width: 100%;

  margin-inline: auto;
  border: 5px solid red;
  font-family: "Inter", sans-serif;
}

/* header */

header {
  width: 97%;
  border: 5px solid yellow;
  padding: 24px 0;
  margin-inline: auto;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header li {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #000000;
}

header ul {
  display: flex;
  gap: 24px;
}
header div p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #f3f3f3;
  text-align: center;
}

.header_div {
  background: #000000;
  border-radius: 32px;
  padding: 12px 24px;
}

/* section_1 */
.section_1 {
  width: 100%;

  border: 5px solid yellow;
  padding: 64px 0px;
}

.section_div_1 {
  width: 85%;
  font-family: "Inter", sans-serif;
  margin-inline: auto;
  border: 5px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section_div_2 {
  border: 5px solid yellow;
}

.section_div_2 h1 {
  width: 80%;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 60px;

  color: #000000;
}

.section_div_2_p {
  width: 80%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  color: #000000;
  margin-top: 24px;
  margin-bottom: 40px;
}
.section_div_action_2 p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #f3f3f3;
  text-align: center;
}
.section_div_action {
  border: 5px solid green;
  display: flex;

  align-items: center;
}
.section_div_action_2 {
  width: 20%;
  background: #000000;
  border-radius: 32px;
  padding: 12px 24px;
}

.section_div_action_2_p {
  width: 40%;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-left: 20px;
}

/* SECTION2 */

.section_2 {
  width: 100%;
  padding: 64px 0px;
  background: #f3f3f3;
  font-family: "Inter", sans-serif;
}

.box {
  width: 85%;
  margin-inline: auto;
  border: 5px solid yellow;
  display: flex;
  justify-content: space-between;
}

.box_div {
  width: 30%;
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.title_div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000000;
}
.title_div_parent {
  display: flex;
  align-items: center;
  gap: 16px;
}
.title_div_parent p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.box_div_p {
  width: 97%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* section3 */

.section_3 {
  width: 100%;
  padding: 96px 0;
  background: #000000;
  font-family: "Inter", sans-serif;
}

.section_3_box {
  width: 85%;
  border: 5px solid yellow;
  margin-inline: auto;
  display: flex;
  /* justify-content: space-between; */
  gap: 133px;
}
.section_3_div {
  width: 44%;
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.section_3_div h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;

  color: #ffffff;
}
.section_3_p_1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0;

  color: #ffffff;
}

.section_3_p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;

  color: #ffffff;
}

.section_3_box_2 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.section_3_box_2 p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

/* section 4s */

.section_4 {
  width: 100%;
  /* border: 5px solid blue; */
  height: 566px;
  background-image: url(../photos/furniture\ image.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div_box_4_p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.div_box_4 h1 {
  width: 70%;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;

  text-align: center;

  color: #ffffff;
}

.div_box_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 12px;
}

.action_div_4 {
  background: #f3f3f3;
  border-radius: 24px;
  padding: 8px 0;
  width: 9%;
}

.action_text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
}

/* FOOTER */

footer {
  width: 100%;
  padding: 96px 0;
  /* border: 5px solid yellow; */
  background: #000000;
}
.footer_div div div {
  width: 20%;
  border: 3px solid yellow;
}
.footer_box_1_div {
  display: flex;
  /* justify-content: space-between; */
}
.footer_div_logo {
  width: 20%;
  border: 3px solid yellow;
}

.footer_div {
  width: 85%;
  border: 5px solid green;
  margin-inline: auto;
  display: flex;
  gap: 48px;
  /* justify-content: space-between; */
  /* align-items: center */
}
.footer_box_1 {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.footer_div div div h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

.footer_div div div p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* line-height: 20px; */

  color: #ffffff;
}
.footer_box_2 {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.footer_box_2 p {
  width: 92%;
}
